In [3]:
import pandas as pd
import numpy as np
import os

In [8]:
df = pd.read_csv("../data/metadata.tsv", sep = "\t")

In [9]:
df

,strain,virus,accession,date,Sample_Name,Country,Longitude,Latitude,Source,Serotype,Transmission_Event,LAT,Wave
0,CNRVC990298_ATGTCA_L001,cholera,ERR1879648,1999.0,CNRVC990298,Afghanistan,67.709953,33.939110,Clinical,Ogawa,NaN,NaN,3
1,CNRVC990299_CCGTCC_L001,cholera,ERR1879649,1999.0,CNRVC990299,Afghanistan,67.709953,33.939110,Clinical,Ogawa,NaN,NaN,3
2,CNRVC940149_AGTCAA_L002,cholera,ERR1879577,1994.0,CNRVC940149,Albania,20.168331,41.153332,Clinical,Ogawa,NaN,NaN,2
3,16244_6#48,cholera,ERR976405,1983.0,CNRVC930164,Algeria,1.659626,28.033886,Clinical,Inaba,T1,NaN,1
4,16244_6#49,cholera,ERR976406,1975.0,CNRVC930166,Algeria,1.659626,28.033886,Clinical,Ogawa,T1,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,CDCF3403,cholera,ERR1879654,1996.0,F3403,Zambia_Republic of South Africa,27.849332,-13.133897,Clinical,No_Data,T5,NaN,1
1395,6437_7#23,cholera,ERR044800,2009.0,Zim_27,Zimbabwe,29.154857,-19.015438,No_Data,No_Data,T8,NaN,2
1396,6437_7#21,cholera,ERR044798,2009.0,Zim_12,Zimbabwe,29.154857,-19.015438,No_Data,Ogawa,T11,NaN,3
1397,SRR227311,cholera,SRR227311,2009.0,CP1038,Zimbabwe,29.154857,-19.015438,Clinical,Unknown,T11,NaN,3
1398,6437_7#22,cholera,ERR044799,2009.0,Zim_25,Zimbabwe,29.154857,-19.015438,No_Data,Ogawa,T8,NaN,2

In [16]:
north_america = ['Haiti']
europe = [ 'Albania',
 'France',
 'Germany',
 'Italy',
 'Portugal',
 'Romania',
 'Russian Federation',
 'Slovakia',
 'Spain',
 'Ukraine']
south_america = [ 'Argentina',
 'Bolivia',
 'Brazil',
 'Chile',
 'Colombia',
 'Ecuador',
 'French Guiana',
 'Mexico',
 'Peru']
asia = [ 'Afghanistan',
 'Bahrain',
 'Bangladesh',
 'Cambodia',
 'China',
 'Gaza',
 'India',
 'India/Nepal',
 'Indonesia',
 'Iran',
 'Iraq',
 'Israel',
 'Jerusalem',
 'Jordan',
 'Kurdistan',
 'Laos',
 'Lebanon',
 'Malaysia',
 'Myanmar',
 'Nepal',
 'Pakistan',
 'Palestine',
 'Philippines',
 'Sri Lanka',
 'Thailand',
 'Turkey',
 'Viet Nam'] ######### 
africa = [ 'Algeria',
 'Angola',
 'Benin',
 'Burkina Faso',
 'Burundi',
 'Cameroon',
 'Central African Republic',
 'Chad',
 'Comoros',
 "Cote d'Ivoire",
 'Democratic Republic of the Congo',
 'Djibouti',
 'Egypt',
 'Equatorial Guinea',
 'Ethiopia',
 'Gabon',
 'Ghana',
 'Ghana/Nigeria',
 'Guinea',
 'Guinea Bissau',
 'Guinea-Bissau',
 'Kenya',
 'Liberia',
 'Libya',
 'Madagascar',
 'Malawi',
 'Mali',
 'Mauritania',
 'Morocco',
 'Mozambique',
 'Niger',
 'Nigeria',
 'Republic of South Africa',
 'Republic of the Congo',
 'Rwanda',
 'Sao Tome',
 'Senegal',
 'Sierra Leone',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Sudan',
 'Tanzania',
 'Togo',
 'Tunisia',
 'Uganda',
 'Yemen',
 'Zambia',
 'Zambia_Republic of South Africa',
 'Zimbabwe']
oceania = [ 'Papua New Guinea']
unknown = ["Unknown"]

In [19]:
df["region"] = np.nan
df["region"][df.Country.isin(north_america)] = "North America"
df['region'][df.Country.isin(europe)] = "Europe"
df['region'][df.Country.isin(oceania)] = "Oceania"
df['region'][df.Country.isin(africa)] = "Africa"
df['region'][df.Country.isin(asia)] = "Asia"
df['region'][df.Country.isin(south_america)] = "South America"
df['region'][df.Country.isin(unknown)] = "Unknown" #######

/var/folders/qg/fh7xzf2n37b4hx2w3dr605l80000gn/T/ipykernel_5117/2300419114.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["region"][df.Country.isin(north_america)] = "North America"

In [22]:
df.region = df.region.str.replace(' ', '_')
df.Country = df.Country.str.replace(' ', '_')

In [23]:
df

,strain,virus,accession,date,Sample_Name,Country,Longitude,Latitude,Source,Serotype,Transmission_Event,LAT,Wave,region
0,CNRVC990298_ATGTCA_L001,cholera,ERR1879648,1999.0,CNRVC990298,Afghanistan,67.709953,33.939110,Clinical,Ogawa,NaN,NaN,3,Asia
1,CNRVC990299_CCGTCC_L001,cholera,ERR1879649,1999.0,CNRVC990299,Afghanistan,67.709953,33.939110,Clinical,Ogawa,NaN,NaN,3,Asia
2,CNRVC940149_AGTCAA_L002,cholera,ERR1879577,1994.0,CNRVC940149,Albania,20.168331,41.153332,Clinical,Ogawa,NaN,NaN,2,Europe
3,16244_6#48,cholera,ERR976405,1983.0,CNRVC930164,Algeria,1.659626,28.033886,Clinical,Inaba,T1,NaN,1,Africa
4,16244_6#49,cholera,ERR976406,1975.0,CNRVC930166,Algeria,1.659626,28.033886,Clinical,Ogawa,T1,NaN,1,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,CDCF3403,cholera,ERR1879654,1996.0,F3403,Zambia_Republic_of_South_Africa,27.849332,-13.133897,Clinical,No_Data,T5,NaN,1,Africa
1395,6437_7#23,cholera,ERR044800,2009.0,Zim_27,Zimbabwe,29.154857,-19.015438,No_Data,No_Data,T8,NaN,2,Africa
1396,6437_7#21,cholera,ERR044798,2009.0,Zim_12,Zimbabwe,29.154857,-19.015438,No_Data,Ogawa,T11,NaN,3,Africa
1397,SRR227311,cholera,SRR227311,2009.0,CP1038,Zimbabwe,29.154857,-19.015438,Clinical,Unknown,T11,NaN,3,Africa
1398,6437_7#22,cholera,ERR044799,2009.0,Zim_25,Zimbabwe,29.154857,-19.015438,No_Data,Ogawa,T8,NaN,2,Africa

In [ ]:
df.to_csv("../data/metadata_region.tsv", sep = "\t")